# logs
logs
*.log

# coverage directory
coverage
*.lcov

# build files
dist

# dependency directories
proctoring/
logo/
answers/
node_modules/

# typeScript cache
*.tsbuildinfo

# optional npm cache directory
.npm

# dotenv environment variable files
.env
**/.env

# system files
.DS_Store
**/.DS_Store

# production kubernetes files
**/k8s/*-prod.yaml