# logs
logs
*.log

# coverage directory
coverage
*.lcov

# build files
dist

# dependency directories
node_modules/
**/package-lock.json

# typeScript cache
*.tsbuildinfo

# optional npm cache directory
.npm

# dotenv environment variable files
.env
**/.env

# DB Local files
.dynamodb/
**/db.sqlite

# system files
.DS_Store
**/.DS_Store